name: main
on:
  pull_request:
  push:
    branches:
      - "main"
jobs:
  build_container:
    strategy:
      matrix:
        job:
          - dir: "./argocd"
            container-image: "argocd"
            scan: "true"
          - dir: "./argocd-image-updater"
            container-image: "argocd-image-updater"
            scan: "true"
          - dir: "./bird"
            container-image: "bird"
            scan: "true"
          - dir: "./bmc-reverse-proxy"
            container-image: "bmc-reverse-proxy"
          - dir: "./bpf-map-pressure-exporter"
            container-image: "bpf-map-pressure-exporter"
            make_test: true
          - dir: "./cadvisor"
            container-image: "cadvisor"
          - dir: "./chrony"
            container-image: "chrony"
            scan: "true"
          - dir: "./cilium-certgen"
            container-image: "cilium-certgen"
            scan: "true"
          - dir: "./cilium-operator-generic"
            container-image: "cilium-operator-generic"
            scan: "true"
          - dir: "./configmap-reload"
            container-image: "configmap-reload"
          - dir: "./contour"
            container-image: "contour"
          - dir: "./coredns"
            container-image: "coredns"
            scan: "true"
          - dir: "./dex"
            container-image: "dex"
            scan: "true"
          - dir: "./etcd"
            container-image: "etcd"
            scan: "true"
          - dir: "./external-dns"
            container-image: "external-dns"
            scan: "true"
          - dir: "./fluent-bit"
            container-image: "fluent-bit"
            scan: "true"
          - dir: "./golang-all/golang-1.20-focal"
            container-image: "golang"
            enable_arm64: true
            scan: "true"
          - dir: "./golang-all/golang-1.20-jammy"
            container-image: "golang"
            enable_arm64: true
            scan: "true"
          - dir: "./golang-all/golang-1.21-focal"
            container-image: "golang"
            enable_arm64: true
            scan: "true"
          - dir: "./golang-all/golang-1.21-jammy"
            container-image: "golang"
            enable_arm64: true
            scan: "true"
          - dir: "./grafana-operator"
            container-image: "grafana-operator"
            scan: "true"
          - dir: "./haproxy"
            container-image: "haproxy"
            scan: "true"
          - dir: "./kube-metrics-adapter"
            container-image: "kube-metrics-adapter"
          - dir: "./kube-state-metrics"
            container-image: "kube-state-metrics"
          - dir: "./kubernetes"
            container-image: "kubernetes"
            scan: "true"
          - dir: "./loki"
            container-image: "loki"
            scan: "true"
          - dir: "./machines-endpoints"
            container-image: "machines-endpoints"
          - dir: "./memcached"
            container-image: "memcached"
            scan: "true"
          - dir: "./memcached-exporter"
            container-image: "memcached-exporter"
          - dir: "./opentelemetry-collector"
            container-image: "opentelemetry-collector"
            scan: "true"
          - dir: "./hubble"
            container-image: "hubble"
            scan: "true"
          - dir: "./hubble-relay"
            container-image: "hubble-relay"
            scan: "true"
          - dir: "./hubble-ui"
            container-image: "hubble-ui-frontend"
            scan: "true"
            target: "frontend"
          - dir: "./hubble-ui"
            container-image: "hubble-ui-backend"
            scan: "true"
            target: "backend"
          - dir: "./pause"
            container-image: "pause"
          - dir: "./pod-delete-rate-limiter"
            container-image: "pod-delete-rate-limiter"
            make_test: true
          - dir: "./pomerium"
            container-image: "pomerium"
            scan: "true"
          - dir: "./prometheus-adapter"
            container-image: "prometheus-adapter"
          - dir: "./prometheus-config-reloader"
            container-image: "prometheus-config-reloader"
            scan: "true"
          - dir: "./promtail"
            container-image: "promtail"
            scan: "true"
          - dir: "./pushgateway"
            container-image: "pushgateway"
          - dir: "./redis"
            container-image: "redis"
            scan: "true"
          - dir: "./registry"
            container-image: "registry"
            scan: "true"
          - dir: "./sealed-secrets"
            container-image: "sealed-secrets"
          - dir: "./serf"
            container-image: "serf"
            scan: "true"
          - dir: "./stakater-reloader"
            container-image: "stakater-reloader"
          - dir: "./spegel"
            container-image: "spegel"
          - dir: "./squid"
            container-image: "squid"
            scan: "true"
          - dir: "./tempo"
            container-image: "tempo"
            scan: "true"
          - dir: "./testhttpd"
            container-image: "testhttpd"
          - dir: "./trust-manager"
            container-image: "trust-manager"
          - dir: "./trust-packages"
            container-image: "trust-packages"
          - dir: "./unbound"
            container-image: "unbound"
            scan: "true"
          - dir: "./unbound_exporter"
            container-image: "unbound_exporter"
          - dir: "./vault"
            container-image: "vault"
            scan: "true"

    runs-on: ubuntu-22.04
    env:
      go-version: "1.21"
    steps:
      - uses: actions/checkout@v4
      - name: Setup build environment
        uses: ./.github/actions/setup
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          go-version: ${{ env.go-version }}
      - name: Build container image
        uses: ./.github/actions/build_push
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          yamory_token: ${{ secrets.YAMORY_ACCESS_TOKEN }}
          dir: ${{ matrix.job.dir }}
          container-image: ${{ matrix.job.container-image }}
          enable_arm64: ${{ matrix.job.enable_arm64 }}
          make_test: ${{ matrix.job.make_test }}
          scan: ${{ matrix.job.scan }}
